*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Playfair Display;
}

/* top part css */

#top-homepage{
  width: 100%;
  height: 720px;
}
#top-homepage .background-big-image .bg{
  width: 100%;
  height: 720px;
}
#top-homepage .under-box .image-section{
  height: 590px;
}
#top-homepage .under-box .image-section .my-pic{
  width: 590px;
  box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.4);
}
#top-homepage .under-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translatey(-112%);
}
#top-homepage .under-box .image-section .primary-txt{
  font-size: 3.1rem;
  text-shadow: 1px 3px 4px rgb(73, 69, 69);
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  width: 590px;
  color: rgb(254, 254, 254);
  transform: translatey(-110%);
}
#top-homepage .under-box .about-section{
  width: 700px;
  height: 400px;
  padding: 50px 20px 10px 30px;
  background-color: whitesmoke;
  margin-top: 60px;
  box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
#top-homepage .under-box .about-section .secondary-txt{
  font-size: 2.3rem;
  font-weight: normal;
}
#top-homepage .under-box .about-section .para-txt{
  padding-top: 30px;
  font-size: 1.25rem;
  font-family: sans-serif;
  color: grey;
}
#top-homepage .under-box .about-section .section-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-right: 10px;
}
#top-homepage .under-box .about-section .section-icons a .callocation{
  width: 50px;
  padding: 1px;
  margin-left: 20px;
}
#middle-body-part{
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
}
#middle-body-part .container{
  display: grid;
  gap: 50px;
  grid-template-columns: minmax(350px, 400px) minmax(350px, 400px) minmax(350px, 400px);
  grid-template-rows: 70px 480px 480px;
  justify-content: center;
  /* margin-top: 50px; */
}
#middle-body-part .container .grid-box{
  /* margin-top: 20px; */
  background-color: whitesmoke;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
#middle-body-part .container .grid-elm{
  grid-area: 1/1/2/2;
}
#middle-body-part .container .fst{
  grid-area: 2/1/3/2;
}
#middle-body-part .container .scnd{
  grid-area: 2/2/3/3;
}
#middle-body-part .container .trd{
  grid-area: 2/3/3/4;
}
#middle-body-part .container .frth{
  grid-area: 3/1/4/2;
}
#middle-body-part .container .fth{
  grid-area: 3/2/4/3;
}
#middle-body-part .container .sxth{
  grid-area: 3/3/4/4;
}
#middle-body-part .container .fst .screen-shots{
  background-color: rgb(110, 29, 29);
}
#middle-body-part .container .scnd .screen-shots{
  background-color: rgb(124, 79, 184);
}
#middle-body-part .container .trd .screen-shots{
  background-color: rgb(75, 136, 75);
}
#middle-body-part .container .frth .screen-shots{
  background-color: rgb(187, 60, 187);
}
#middle-body-part .container .fth .screen-shots{
  background-color: rgb(206, 149, 35);
}
#middle-body-part .container .sxth .screen-shots{
  background-color: rgb(11, 149, 203);
}
#middle-body-part .container .grid-box .screen-shots{
  height: 260px; 
  padding: 10px;
}
#middle-body-part .work{
  /* margin-left: 110px; */
  margin-top: 20px;
  width: 200px;
  font-size: 2.4rem;
  font-weight: normal;
  /* transform: translate(50%,45%); */
}
#middle-body-part .container .grid-box .screen-shots h2{
  font-size: 2.5rem;
  text-align: center;
  color: white;
  font-weight: normal;
  margin-top: 55px;
}
#middle-body-part .container .grid-box .bottom-cnt .tb{
  padding: 20px;
  padding-bottom: 8px;
}
#middle-body-part .container .grid-box .bottom-cnt .tb .tb-head h3{
  font-size: 1.3rem;
  font-weight: unset;
}
#middle-body-part .container .grid-box .bottom-cnt .tb .icon .callocation2{
  width: 25px;
  padding: 2px;
  margin-left: 10px;
}
#middle-body-part .container .grid-box .bottom-cnt .tb,.grid-box-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#middle-body-part .container .grid-box .bottom-cnt .sec-para-txt{
  padding: 16px;
  font-family: sans-serif;
  color: gray;
}
#footer{
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: rgb(26, 117, 162);
}
#footer .container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#footer .container .contact-details{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#footer .container .contact-details .contact,.fb{
  display: flex;
  align-items: center;
}
#footer .container .contact-details .contact,.footer-icons img,.callocation3{
  width: 45px;
}
#footer .container .contact-details .callocation3,.footer-icons{
  margin-right: 15px;
}
#footer .container .secondary-txt{
  font-size: 2.3rem;
  font-weight: normal;
  color: white;
}
#footer .container .sec-low-txt{
  font-size: 1.3rem;
  font-family: sans-serif;
  color: white;
}
#footer .container .image-section2 img{
  width: 600px;
  box-shadow: -1px 4px 5px 2px rgba(0, 0, 0, 0.3);
  /* height: 590px; */
}
@media (min-width:1160px) and (max-width: 1360px){
  #top-homepage .under-box .image-section{
    height: 520px;
  }
  #top-homepage .under-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translatey(-125%);
  }
  #top-homepage .under-box .image-section .primary-txt{
    font-size: 2.8rem;
    text-shadow: 1px 3px 4px rgb(73, 69, 69);
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    width: 520px;
    color: rgb(254, 254, 254);
    transform: translatey(-110%);
  }
  
  #top-homepage .under-box .image-section .my-pic{
    width: 520px;
    box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.4);
  }
  #top-homepage .under-box .about-section{
    min-width: 430px;
    max-width: 630px;
    height: 330px;
  }
  #top-homepage .under-box .about-section .secondary-txt{
    font-size: 2rem;
    font-weight: normal;
  }
  #top-homepage .under-box .about-section .para-txt{
    padding-top: 30px;
    font-size: 1.1rem;
    font-family: sans-serif;
    color: grey;
  }
  #top-homepage .under-box .about-section .section-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
  #top-homepage .under-box .about-section .section-icons a .callocation{
    width: 40px;
    padding: 1px;
    margin-left: 20px;
  }
}
@media (min-width:970px) and (max-width: 1159px){

  #top-homepage .under-box{
    height: 100%;
    transform: translate(0%,-90%);
  }
  #top-homepage .under-box .image-section .primary-txt{
    font-size: 2.8rem;
    text-shadow: 1px 3px 4px rgb(73, 69, 69);
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    width: 530px;
    color: rgb(254, 254, 254);
    transform: translate(85%, -710%);
  }
  #top-homepage .under-box .image-section{
   width: 530px;
   height: 530px;
    transform: translate(-40% , -5%);
  }
  #top-homepage .under-box .image-section .my-pic{
    width: 530px;
    
  }
  #top-homepage .under-box .image-section .primary-txt{
    width: 500px;
  }
  #top-homepage .under-box .about-section{
    position: absolute;
    z-index: -1;
    /* left: 400px; */
    width: 780px;
    height: 530px;
  }
   #top-homepage .under-box .about-section .float-left{
    margin-right: 30px;
    margin-bottom: 30px;
    height: 355px;
    width: 420px;
    float: left;
    background-color: none;
  }
  #top-homepage .under-box .about-section .section-icons{
    margin-top: 10px;
    justify-content: center;
  }
  #middle-body-part .container{
    margin-top: 30px;
  }
  #middle-body-part .container{
    display: grid;
    grid-template-columns: minmax(350px, 400px) minmax(350px, 400px);
    grid-template-rows: 70px 480px 480px 480px; 
  }
  #middle-body-part .container .grid-elm{
    grid-area: 1/1/2/2;
  }
  #middle-body-part .container .fst{
    grid-area: 2/1/3/2;
  }
  #middle-body-part .container .scnd{
    grid-area: 2/2/3/3;
  }
  #middle-body-part .container .trd{
    grid-area: 3/1/4/2;
  }
  #middle-body-part .container .frth{
    grid-area: 3/2/4/3;
  }
  #middle-body-part .container .fth{
    grid-area: 4/1/5/2;
  }
  #middle-body-part .container .sxth{
    grid-area: 4/2/5/3;
  }
  #footer .container .contact-details .callocation3,.footer-icons{
    margin-right: 20px;
  }
  #footer .container .secondary-txt{
    font-size: 2rem;
    
  }
  #footer .container .sec-low-txt{
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
  }
  #footer .container .image-section2 img{
    width: 500px;
    box-shadow: -1px 4px 5px 2px rgba(0, 0, 0, 0.3);
    /* height: 590px; */
  }
}
@media (min-width:581px) and (max-width: 970px){
  #top-homepage .under-box{
    height: 100%;
    transform: translate(0%,-90%);
  }
  #top-homepage .under-box .image-section .primary-txt{
    font-size: 2.5rem;
    text-shadow: 1px 3px 4px rgb(73, 69, 69);
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    width: 440px;
    color: rgb(254, 254, 254);
    transform: translate(80%, -670%);
  }
  #top-homepage .under-box .image-section{
   width: 440px;
   height: 440px;
    transform: translate(-46% , -4%);
  }
  #top-homepage .under-box .image-section .my-pic{
    width: 440px;
    
  }

  #top-homepage .under-box .about-section{
    position: absolute;
    z-index: -1;
    /* left: 400px; */
    width: 690px;
    height: 440px;
  }
   #top-homepage .under-box .about-section .float-left{
    margin-right: 40px;
    margin-bottom: 40px;
    height: 275px;
    width: 330px;
    float: left;
    background-color: none;
  }
  #top-homepage .under-box .about-section .secondary-txt{
    font-size: 2rem;
  }
  #top-homepage .under-box .about-section .para-txt{
    font-size: 1.1rem;
  }
  #top-homepage .under-box .about-section  .section-icons .icon-container .callocation{
    width: 45px;
    align-items: center;
  }
  #top-homepage .under-box .about-section .section-icons{
    margin-top: 20px;
    justify-content: center;
  }
  #middle-body-part .container{
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: minmax(330px, 380px) minmax(330px, 380px);
    grid-template-rows: 70px 460px 460px 460px; 
  }
  #middle-body-part .container .grid-box{
    overflow: auto;
  }
  #middle-body-part .container .grid-elm{
    grid-area: 1/1/2/2;
  }
  #middle-body-part .container .fst{
    grid-area: 2/1/3/2;
  }
  #middle-body-part .container .scnd{
    grid-area: 2/2/3/3;
  }
  #middle-body-part .container .trd{
    grid-area: 3/1/4/2;
  }
  #middle-body-part .container .frth{
    grid-area: 3/2/4/3;
  }
  #middle-body-part .container .fth{
    grid-area: 4/1/5/2;
  }
  #middle-body-part .container .sxth{
    grid-area: 4/2/5/3;
  }
  #footer .container .contact-details .callocation3,.footer-icons{
    margin-right: 20px;
  }
  #footer .container .secondary-txt{
    font-size: 2rem;
    
  }
  #footer .container .sec-low-txt{
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
  }
  #footer .container .image-section2 img{
    width: 500px;
    box-shadow: -1px 4px 5px 2px rgba(0, 0, 0, 0.3);
    /* height: 590px; */
  }
}
 @media (min-width: 319px) and (max-width:580px){
  #top-homepage{
    width: 100%;
    height: 900px;
  }
  #top-homepage .background-big-image .bg{
    width: 100%;
    height: 450px;
  }
  #top-homepage .under-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0%,-45%);
  }
  #top-homepage .under-box .image-section .primary-txt{
    font-size: 2.5rem;
    text-shadow: 1px 3px 4px rgb(73, 69, 69);
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    width: 350px;
    color: rgb(254, 254, 254);
    /* transform: translate(80%, -670%); */
  }
  #top-homepage .under-box .image-section{
    /* position: absolute; */
    /* justify-content: center; */
   width: 350px;
   height: 400px;
    /* transform: translatex(20%); */
  }
  #top-homepage .under-box .image-section .my-pic{
    width: 350px;
    height: 400px;
  }

  #top-homepage .under-box .about-section{
    margin-top: 0;
    width: auto;
    height: 440px;
    box-shadow: none;
  }
   
  #top-homepage .under-box .about-section .secondary-txt{
    font-size: 2rem;
  }
  #top-homepage .under-box .about-section .para-txt{
    font-size: 1.1rem;
  }
  #top-homepage .under-box .about-section  .section-icons .icon-container .callocation{
    width: 45px;
    align-items: center;
  }
  #top-homepage .under-box .about-section .section-icons{
    margin-top: 20px;
    justify-content: center;
  }
  #middle-body-part .container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #middle-body-part .container .grid-box{
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #footer{
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #footer .container{
    display: flex;
    flex-direction: column;
  }
  #footer .container .contact-details{
    display: block;
    height: auto;
   padding: 0;
   margin: 0;
  }
  #footer .container .contact-details *{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #footer .container .contact-details .fb{
    /* align-items: center; */
    justify-content: center;
  }
  #footer .container .secondary-txt{
    font-size: 2rem;
    
  }
  #footer .container .sec-low-txt{
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
  }
  #footer .container .image-section2 img{
    margin-top: 20px;
    width: 100%;
    box-shadow: -1px 4px 5px 2px rgba(0, 0, 0, 0.3);
    /* height: 590px; */
  } 
}
